<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
  <nav>
    <a href="/" class="nav-link">Home</a>
    <a th:href="@{/faq}" class="nav-link">FAQ</a>
  </nav>
</header>
<head>
  <meta charset="UTF-8"/>
  <title>Ambient Sound App</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <!-- 再生ボタンと停止ボタンをfontawesomeでアイコンにするため -->
  <script src="https://kit.fontawesome.com/90521dcf68.js" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container">
  <h1>Ambient Maker</h1>
  <h4>あなたの生活にお好みの音を</h4>

  <!-- カテゴリーごとのループ -->
	<div class="categories">
	  <div class="category-section" th:each="catEntry : ${soundsByCategory.entrySet()}"> <!-- th:eachはfor-eathに相当 entrySet()はMapに対してループ処理を行うためにキーと値をペアにする-->
	    <h2 th:text="${catEntry.key}">カテゴリー名</h2>
	    <div class="sound-list">
	      <!-- 各サウンドカード -->
	      <div th:each="s : ${catEntry.value}" class="sound-card">
	        <h3 th:text="${s.label}">音源名</h3>
	        <audio 
	          th:id="|audio-${s.fileName}|"
	          th:src="@{/sounds/{f}(f=${s.fileName})}" 
	          loop>
			  <!--@{}はURLを生成するためのThymeleafの構文 (f=${s.fileName}) → {f} の中に代入する具体的な値を指定-->
	        </audio>
			<!--src="/sounds/雨.wav"-->
			<div class="button-group">
	          <!-- 再生ボタン -->
		      <button type="button"
		        th:attr="onclick=|playSound('${s.fileName}')|"
		        class="icon-btn">
				<i class="fa-regular fa-circle-play"></i>
		      </button>
			  <!-- ${...} で変数を表し、それを含む文字列全体を |...| で囲むことで、文字列の中に式を展開 HTMLのonclick属性に挿入-->
		          <!-- 停止ボタン -->
		      <button type="button"
		        th:attr="onclick=|stopSound('${s.fileName}')|"
		        class="icon-btn">
				<i class="fa-regular fa-circle-stop"></i>
		      </button>
		    </div>
	          <!-- ボリュームスライダー -->
			<i class="fa-solid fa-volume-off"></i>
	        <input type="range" min="0" max="100" value="50"
	                 th:attr="oninput=|setVolume('${s.fileName}', this.value)|"/>
		    <i class="fa-solid fa-volume-high"></i>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
	  // ページロード後に全audio要素を列挙
	  document.addEventListener('DOMContentLoaded', () => {
	    document.querySelectorAll('audio').forEach(audio => {
	      // このaudioの親要素.sound-cardを取得
	      const card = audio.closest('.sound-card');

	      // 再生開始時
	      audio.addEventListener('play', () => {
	        card.classList.add('playing');
	      });

	      // 一時停止時や再生終了時は色を戻す
	      const removePlaying = () => card.classList.remove('playing');
	      audio.addEventListener('pause', removePlaying);
	      audio.addEventListener('ended', removePlaying);
	    });
	  });

	  function playSound(name) {
	    document.getElementById('audio-' + name).play();
	  }
	  function stopSound(name) {
	    const a = document.getElementById('audio-' + name);
	    a.pause();
	    a.currentTime = 0;
	  }
	  function setVolume(name, val) {
	    document.getElementById('audio-' + name).volume = val / 100;
	  }
	</script>
</div>
</body>
</html>
